@import "./fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  color: #1a1a1a;
  letter-spacing: -0.32px;
  font-optical-sizing: auto;
  overflow-x: hidden;
}
ui,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #1a1a1a;
}
img {
  border: 0;
  vertical-align: middle;
}

/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 상단 이벤트 배너 */
.top-banner {
  position: absolute;
  width: 100%;
  height: 80px;
  overflow: hidden;
  z-index: 999;
}

.top-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-controls {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-10%);
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: 929292;
  gap: 30px;
}

.details {
  gap: 10px;
}
.today-close {
  background: none;
  border: none;
  cursor: pointer;
  gap: 10px;
}

.hero {
  display: flex;
  position: relative;
}
.hero-left {
  width: 100%;
  overflow: hidden;
}
.hero-left .swiper,
.hero-left img {
  width: 100%;
  height: 100%;
}

.hero-left img {
  object-fit: cover;
}
.hero-left::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(0, 0, 0 0.5);
}

.header {
  position: absolute;
  top: 125px;
  left: 100px;
  display: flex;
  z-index: 10;
  gap: 120px;
  width: 100%;
  max-width: 1172px;
  height: 90px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 55px;
}
.logo img {
  width: 80px;
  height: 99px;
}
.nav-box {
  width: 471px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.nav-box a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mini-search {
  border-bottom: 3px solid #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}
.mini-search input {
  border: none;
  background: none;
  outline: none;
}
.mini-search i {
  font-size: 18px;
  color: #fff;
}

.language {
  position: relative;
}
.lang-btn {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  background: none;
  border: none;
}
.lang-dropdown {
  position: absolute;
  top: 35px;
  right: 0;
  background: #fff;
  color: #ff7835;
  border-radius: 10px;
  overflow: hidden;
  display: none;
  min-width: 80px;
  box-shadow: 0 5px 15px rgb(0, 0, 0 0.2);
}

.lang-dropdown li {
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.lang-dropdown li:hover {
  background: #f5f5f5;
}

/* 열렸을 때 */
.language.active .lang-dropdown {
  display: block;
}

.login-btn {
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff7835;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 6px 16px;
  cursor: pointer;
  font-size: 16pxpx;
}

.hero-section {
  display: flex;
}
.hero-text {
  position: absolute;
  top: 35%;
  left: 100px;
  z-index: 10;
  color: #fff;
}
.hero-text h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 1.4;
}
.hero-text p {
  margin-top: 36px;
  font-size: 24px;
  font-weight: 600;
}
.search-box {
  position: absolute;
  top: 65%;
  left: 100px;
  z-index: 10;
  width: 715px;
  height: 139px;

  background: linear-gradient(
    181.37deg,
    rgba(255, 120, 53, 0.5) 23.3%,
    rgba(229, 23, 62, 0.5) 98.83%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  padding: 25px 47px;
}

.search-text {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;
}

.search-title {
  font-size: 30px;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}
.search-sub-title {
  font-size: 18px;
  font-weight: 600;
}

.hashtags {
  width: 356px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  gap: 5px;
}
.search-input {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.search-input input {
  flex: 1;
  padding: 12px 15px;
  border-radius: 25px;
  border: none;
  outline: none;
}
.search-input button {
  margin-left: 10px;
  background: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.search-input button i {
  width: 30px;
  height: 30px;
  color: #f58044;
}

.hero-right {
  width: 40%;
  position: absolute;
  top: 0;
  right: calc(50% - 50vw);
}

.hero-right .swiper {
  width: 85%;
  height: 100%;
  border-radius: 40px 0 0 40px;
  overflow: hidden;
  border: 10px solid #fff;
}
.hero-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 인기강의 */
.popular-course {
  margin-top: 100px;
  margin-bottom: 200px;
  max-width: 1920px;
}

.p-txt-section {
  padding: 0 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-text {
  gap: 15px;
  margin-bottom: 55px;
}
.section-text h2 {
  font-size: 50px;
  font-weight: 800;
}
.section-text h2 span {
  color: #e5173e;
}
.section-text p {
  color: #929292;
  font-size: 18px;
  font-weight: 500;
}
.filter {
  width: 100%;
  max-width: 390px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.filter button {
  width: 70px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #b4b4b4;
  border-radius: 30px;
  color: #929292;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.filter .active {
  background-color: #ff7835;
  border-radius: 30px;
  border: none;
  color: #fff;
}

.card-list {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 82px;
}
.card {
  position: relative;
  max-width: 450px;
  max-height: 434px;
  border: 1px solid #f58044;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.card-text {
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  background-color: #ffe8dd;
  border: 1px solid #f58044;
  border-radius: 0 0 20px 20px;
  text-align: center;
}
.card-text h3 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  color: rgb(59, 59, 59, 0.8);
}
.card-text p {
  font-size: 16px;
  font-weight: 400;
}

.card-active {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 520px;
  max-height: 500px;
  border: 1px solid #f58044;
  border-radius: 20px;
  overflow: hidden;
}
.card-active img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.card-active-text {
  width: 100%;
  height: 155px;
  position: absolute;
  bottom: 0;
  background-color: #ffe8dd;
  border: 1px solid #f58044;
  border-radius: 0 0 20px 20px;
  text-align: center;
  gap: 21px;
}
.card-active-text h3 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

/* footer */
.footer {
  position: relative;
  width: 100%;
  height: 750px;
  left: 0px;
  top: 0px;

  background: linear-gradient(180deg, #f8712d 36.47%, #e5173e 100%);
  border-radius: 50px 50px 0px 0px;
  color: #fff;
  padding: 97px 96px 97px 66px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 50px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 18px;
  width: 453px;
  height: 140px;
  margin-bottom: 40px;
}

.f-top-left {
}
.footer-logo .f-symbol {
  width: 100px;
  height: 120px;
}
.footer-logo .f-logo {
  width: 335px;
  height: 100%;
}
.footer-menu {
  max-width: 558px;
  max-height: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}
.footer-menu li a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.footer-info {
  max-width: 810px;
  gap: 20px;
}
.footer-info-top {
  display: flex;
  align-items: center;
  gap: 36px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}
.line {
  width: 65px;
  height: 0px;
  border: 1px solid #ffffff;
  transform: rotate(90deg);
}
.footer-info-bottom {
  font-size: 16px;
  font-weight: 400;
  gap: 30px;
  margin-bottom: 15px;
}
.footer-info-bottom p span {
  font-weight: 700;
}

.footer-right {
  max-width: 300px;
  height: 140px;
}
.sns-list {
  max-width: 298px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 23px;
}
.sns-list img {
  max-width: 40px;
  max-height: 40px;
}

.customer {
  text-align: right;
  gap: 10px;
}

.f-bottom-line {
  width: 100%;
  max-width: 1720px;
  height: 0;
  border: 1px solid #ffffff;
}
.text {
  font-size: 18px;
  font-weight: 700;
}

.footer-bottom {
  max-width: 155px;
  height: 70px;
  gap: 35px;
  margin-top: 26px;
}
.footer-go {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-line {
  width: 70px;
  height: 0;
  border: 1px solid #ffffff;
  transform: rotate(90deg);
}
